www/assets/
platforms/android/assets
platforms/android/ant-build
platforms/android/CordovaLib/ant-build/
platforms/android/CordovaLib/ant-gen/
platforms/android/ant-gen/
*.swp
*.swo
*.un~
*.swm
*.swn
hackinat_production.keystore

