<?xml version='1.0' encoding='utf-8'?>
<widget id="com.supportbee.hackinat" version="0.1.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Hackin.at</name>
    <description>
        An app that helps programmers meetup and socialize with other programmers
    </description>
    <author email="dev@supportbee.com" href="http://hackin.at">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*"/>  
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="Geolocation">
        <param name="android-package" value="org.apache.cordova.GeoBroker" />
    </feature>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

    <platform name="android">
      <icon src="www/res/android/mdpi.png" density="mdpi" />
      <icon src="www/res/android/hdpi.png" density="hdpi" />
      <icon src="www/res/android/xhdpi.png" density="xhdpi" />
      <icon src="www/res/android/xxhdpi.png" density="xxhdpi" />
      <icon src="www/res/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>

    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />

</widget>
